
<nav class="navbar justify-content-center  navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rutas por Barrios de Madrid
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/lalatina">La Latina</a>
          <a class="dropdown-item" routerLink="/huertas">Huertas</a>
          <a class="dropdown-item" routerLink="/rutas">Todas las rutas</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Mi cuenta</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/contactos">Contacto</a>
        </li>
      
        <li>
        <a class="nav-link" routerLink="/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
      </li>
        
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>

<br>

<div class="footer-bottom">
  
      <div class="container">
    
        <div class="row">
    
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
            <div class="copyright">
    
              © 2018
  
              <a href="assets/cookies.pdf" target="_blank">Politica de Cookies</a>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
    </div>

    