
            <div class="container" style="text-align: center;">
                <h1>Conoce todas nuestras rutas</h1>
                    <div *ngFor="let rutas of rutaObservable | async" style="display: inline-flex;">
                      <ngb-alert type="info" [dismissible]="false" style="width: 342px">
                          <h3>{{ rutas.nombre }}</h3>
                          <img src="{{ rutas.foto }}" style="width: 300px; height: 200px;" alt="imagen-rutas"><hr>
                          
                          <input hidden type="string" value={{rutas._id}} #id>
                          <input hidden type="string" value={{rutas.foto}} #foto>
                          <input hidden type="string" value={{rutas.nombre}} #titulo>
                          <input hidden type="string" value={{rutas.precio}} #precio>
                          <input hidden type="string" value={{rutas.descripcion}} #desc>
            
                          <input class="btn btn-success btn-lg btn-block" type="button" value="Más detalles" (click)="detalles(id,titulo,foto,precio, desc)">
                          
                       </ngb-alert>
                    </div>
              </div>

